.carte-produit-container1 {
  flex: 0 0 auto;
  width: 25%;
  display: flex;
  margin-top: var(--dl-space-space-triplequarterunit);
  align-items: center;
  padding-left: var(--dl-space-space-triplequarterunit);
  padding-right: var(--dl-space-space-triplequarterunit);
  flex-direction: column;
}
.carte-produit-image {
  height: 200px;
  object-fit: cover;
  margin-bottom: var(--dl-space-space-unitandahalfunit);
}
.carte-produit-text2 {
  text-align: center;
}
.carte-produit-container2 {
  display: flex;
  position: relative;
  margin-top: var(--dl-space-space-unit);
}
.carte-produit-button:hover {
  transform: scale(1.02);
}
@media(max-width: 767px) {
  .carte-produit-container1 {
    width: 50%;
  }
}
@media(max-width: 479px) {
  .carte-produit-container1 {
    width: 100%;
  }
}
