.feature-card1-container {
  flex: 0 0 auto;
  width: 25%;
  display: flex;
  margin-top: var(--dl-space-space-triplequarterunit);
  align-items: center;
  padding-left: var(--dl-space-space-triplequarterunit);
  padding-right: var(--dl-space-space-triplequarterunit);
  flex-direction: column;
}
.feature-card1-image {
  height: 30px;
  object-fit: cover;
  margin-bottom: var(--dl-space-space-unitandahalfunit);
}
.feature-card1-text2 {
  text-align: center;
}
.feature-card1root-class-name {
  width: 33%;
}
.feature-card1root-class-name1 {
  width: 33%;
}
.feature-card1root-class-name2 {
  width: 33%;
}
.feature-card1root-class-name3 {
  width: 33%;
}
.feature-card1root-class-name4 {
  width: 33%;
}
.feature-card1root-class-name5 {
  width: 33%;
}
@media(max-width: 767px) {
  .feature-card1-container {
    width: 50%;
  }
}
@media(max-width: 479px) {
  .feature-card1-container {
    width: 100%;
  }
}
